*{
    padding: 0;
    margin: 0;
}

.blanco {
    color: #ffffff;
}

.gr {
    color: #09fa6a;
    font-weight: 700;
}

p {
    color: #ffffff;
}

.red {
    color: #ef0a02;
}

.negro {
    color: #000;
}
.part1 {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('../img/fondos/fondo3.png');
}
.fond {
    background: rgba(2, 32, 14, 0.863);
    /* backdrop-filter: blur(1px); */
    z-index: 999;
    width: 100%;
    height: 100%;
}

.iconNav {
    /* position: absolute;  */
    text-align: right;
    top: 5%; 
    right: 5%;
    font-size: 0.8rem;
    color: #ffffff;
}

.logo {
    /* background-color: yellowgreen; */
    margin-block: 40px;
    /* margin-bottom: 40px; */
}

.logo img {
    width: 265px;
    /* border: 2px solid #ffffff; */
}

/*************Texto y formulario***************/
.texto{
    margin-inline: 40px;    
}

.texto p {
    font-size: 0.8rem;
}

.texto h4 {
    font-size: 1.7rem;
}

.form {    
    top: 20%;
    
}

.form label {
    font-size: 1.7rem;
    color: #ffffff;
}

.enviar {
    background: #00fe67;
    width: 100%;
    color: #000;
    height: 45px;
    font-size: 1.5rem;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 12px;
}

/******** footer *******/
/*Contactos*/
.contactos {
    margin-left: 40px;
    margin-top: 45px;
    /* background-color: yellowgreen; */
}

.contactos h5 {
    color: #c3c390;
}

.contactos span {
    font-size: 0.8rem;
}

.contactos img {
    width: 40px;
}

/*hubicación*/
.hubi {
    /* background-color: aqua; */
    margin-top: 45px;
}

.hubi h5 {
    color: #c3c390;
}

.hubi .mapa {
    width: 250px;
    height: 120px;
    border-radius: 7px;
    /* background: #00fe67; */
}
/*bono*/
.bono {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 0px;
    padding-left: 20px;
    /* background: #00fe67; */
    height: 200px;
}
.bono img{
    width: 100%;
}

/*wha-inm*/
.flotr {
    /* margin-top: 50px; */
    /* background: yellowgreen; */
    /* height: 200px; */
    /* margin-inline: 40px;
    padding-inline: 20px; */
    /* display: block; */
    /* padding-top: 40px; */
    /* padding-bottom: 1em; */

}



.flotr .wh{
    padding-bottom: 1.6em;
    padding-left: 50%;
}
.flotr .wh img {
    width: 40px;
}
.flotr .vyc img{
    width: 105px;
}

.flotr .vyc {
    padding-left: 30%;
}

